[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pulp = "*"
numpy = "*"
more-itertools = "*"
matplotlib = "*"
sklearn = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.9"
